footer {
    background-color: black;
}

#footerNavButton {
    max-height: 30px;
    align-items: center;
}

#mainContainer {
    margin: 0;
    padding-bottom: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card>img, .card {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
    padding: 0;
}

.card {
    margin: 2.5px;
}

#IDsideBar {
    height: auto;
    width: 200px;
    background-color: #1d8b22;
    margin-top: 20px;
    border-radius: 15px;
    transition: 0.5s;
}

main{
    display: flex;
    justify-content: space-evenly;
}